language: php

matrix:
  allow_failures:
    - php: hhvm
    - php: nightly
  fast_finish: true
  include:
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
      env: ignorePlatformReqs=--ignore-platform-reqs
    - php: hhvm
    - php: nightly
      env: ignorePlatformReqs=--ignore-platform-reqs

cache:
  directories:
    - .composer/cache

before_install:
  - alias composer=composer\ --no-interaction && composer selfupdate

install:
  - travis_retry composer install --no-progress --profile --no-scripts --no-suggest $ignorePlatformReqs

script:
   - composer test
